<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style.name %>
</p>



<p>
  <strong>Description:</strong>
  <%= @style.description %>
</p>
<p>
<table class="table table-hover"> 
<thead> 
  <tr><th> beers </th></tr>
</thead>
<tbody>
    <% @style.beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer%></td>
      </tr>
    <% end %>
</tbody>
</table>
</p>

<%= edit_and_destroy_buttons(@style) %>