<p id="notice"><%= notice %></p>

<p>
  <font size ="+2"><strong><%= @place.first["name"]%></strong></font>
</p>
<p>

    <i><%= @place.first["status"] %></i>
</p>

<p>
  
  <%= @place.first["street"] %>
</p>

<p> <%= @place.first["zip"] %> <%= @place.first["city"]%></p>
  

